* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --surface-color: #F5F5F5;
  --skeleton-color: #D9D9D9;
  --shape-transparency: #FFFFFF8f;

  --text-color-primary: #313131;
  --text-color-secondary: #6C6C6C;

  --font-family: "Poppins", sans-serif;

  --text-link: normal normal 400 1rem/1.5 var(--font-family); /* 16px */

  --text-sm: normal normal 400 0.75rem/1.75 var(--font-family); /* 12px */
  --text-md: normal normal 400 0.875rem/1.75 var(--font-family); /* 14px */
  --text-lg: normal normal 700 2rem/1.25 var(--font-family); /* 32px */
}

body {
  color: var(--text-color-secondary);
  background-color: var(--background-color);
  font: var(--text-md);
}

.content {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 32px;
}

ul {
  list-style: none;
}
